/node_modules
/public/hot
/public/phpmyadmin
/public/img
/public/ela/images/views_items
/storage/*.key
/storage/app/devices/*.cfg
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.phpstorm.meta.php
